@page "/EditTextbook"
@page "/EditTextbook/{id:int}"

@inherits EditTextbookBase
<h3>Edit Textbook</h3>

<MudButton OnClick="Save" Color="Color.Primary">Save Textbook</MudButton>
<br />
<MudButton OnClick="Back" Color="Color.Primary">Go Back</MudButton>

<MudTextField @bind-Value="Textbook.Name" Label="Textbook Name"  Variant="Variant.Text" />
<MudTextField @bind-Value="Textbook.Summary" Label="Textbook Gpt Summary" HelperText="Introduce GPT to this textbook" Variant="Variant.Text" />

<GptSettingsComponent Settings="Textbook"></GptSettingsComponent>

<MudButton Href="@($"/EditTextbook/{Textbook.Id}/EditUnit")" Color="Color.Primary">Add Unit</MudButton>
@foreach (var unit in Textbook.Units)
{
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">@unit.Name</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudIconButton Href="@($"/EditTextbook/{Textbook.Id}/EditUnit/{unit.Id}")" Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.body2">@unit.Summary</MudText>
        </MudCardContent>
        <MudCardActions>
            @*<MudButton Variant="Variant.Text" Color="Color.Primary">@textbook.Units.Count Units</MudButton>*@
            <MudIconButton Icon="@Icons.Material.Filled.Remove" Color="Color.Error" />
        </MudCardActions>
    </MudCard>
}