@inherits TextbookListBase

@page "/Textbooks"
<h3>Textbook List</h3>

<MudButton Href="EditTextbook" Color="Color.Primary" OnClick="AddTextbook">Add Textbook</MudButton>
@foreach (var textbook in Textbooks)
{
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">@textbook.Name</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudIconButton Href="@($"/EditTextbook/{textbook.Id}")" Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.body2">@textbook.Summary</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">@textbook.Units.Count Units</MudButton>
            <MudIconButton Icon="@Icons.Material.Filled.Remove" Color="Color.Error" />
        </MudCardActions>
    </MudCard>
}



